// Create a file `classic.scss` to override settings

$light-theme: (
  color-primary: #2e8555,
  color-primary-dark: #29784c,
  color-primary-darker: #277148,
  color-primary-darkest: #205d3b,
  color-primary-light: #33925d,
  color-primary-lighter: #359962,
  color-primary-lightest: #3cad6e,
  color-background: rgb(255, 255, 255),
  navbar-background-color: #fff,
);

$dark-theme: (
  color-primary: #25c2a0,
  color-primary-dark: #21af90,
  color-primary-darker: #1fa588,
  color-primary-darkest: #1a8870,
  color-primary-light: #29d5b0,
  color-primary-lighter: #32d8b4,
  color-primary-lightest: #4fddbf,
  color-background: rgb(24, 25, 32),
  navbar-background-color: #242526,
);

@import "theme_base";
